.heading{

    background-color: aquamarine;
    border-bottom: 1px dashed;
}
.authorimg{
    margin-top: 2%;
    padding: 2%;
    position: relative;
    margin-right: 20px;
}
.author{
    display: flex;
    justify-content: flex-end;
    justify-content: flex-end;
    background-image: url(dpbck.jpg);
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: grey ;
}

.p1,.p2{
    font-weight: 500;
    font-size: 20px;
}

span{
    font-style: italic;
    font-weight: bold;
}
.quote{
    font-style: italic;
}