@import "diet.css";
@import "blog.css";

body{
    background-color: rgb(181, 238, 216);
}
.container{
    display:grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 200px 750px ;
    grid-template-areas: 
    " hd hd hd hd hd hd hd hd "
    " sd sd sd sd sd sd sd sd  "
    " ft ft ft ft ft ft ft ft ";
    background-image: url(bg9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    justify-content: flex-start;
}
#img1{
    opacity: 0.6;
}
.header{
    grid-area: hd;
    font-family: cursive;
    font-style: italic;
    color: rgb(27, 156, 189);
    padding-left: 1%;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    background-color: rgb(55, 60, 63);
    border: 1px solid red;
    width: 500px;
}
.nav1,.nav2,.nav3{
    margin-right: 20px;
    margin-left: 1%;
}
.footer{
    grid-area: ft;
    display:flex;
    justify-content: center;
    background-color: rgb(55, 60, 63);
    border-bottom: 1px solid red;
    width: 460px;
    margin-left: 1%;
}
.icon{
    margin-right: 1%;
    margin-left: 40px;
}
.icon:hover{
    -webkit-animation: pulse 2s ease-in;
    -moz-animation: pulse 2s ease-in;
     animation: pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@keyframes pulse {
  0% {
    -webkit-transform: scale(0.65);
    opacity: 0.3;
 }
 25% {
    -webkit-transform: scale(1);
    opacity: 0.5;
 }
 50% {
    -webkit-transform: scale(1.35);
    opacity: 0.7;
 }
 75% {
    -webkit-transform: scale(1.7);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(2.05);
    opacity: 0.3;
 }
}
.sidebar{
    grid-area: sd;
}
.gallery{
    display:grid;
    position: absolute;
    grid-template-columns:40% 40% ;
    grid-template-rows:  90% 90%;
    grid-template-areas: 
    "f s"
    "t c";
    margin-top: 35%;
    justify-content: space-evenly;
    grid-gap: 20px;

}

#one{
    grid-area: f;
    border: 1px solid black;
    background-image: url(need.jpg) ;    
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    
}
#two{
    font-weight: bold;
    grid-area: s;
    border: 1px solid black;
    background-image: url(lean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
#three{
    font-weight: bold;
    grid-area: t;
    border: 1px solid black;
    background-image: url(gaining.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#four{
    grid-area: c;
    border: 1px solid black;
    background-image: url(diet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.content{
    grid-area: main;
}
.next{
    color:black;
    border:1px soild rgb(9, 9, 150);
    font-weight: bold;
    border-radius:4px;
    padding:0 15px;
    cursor:pointer;
    height: 32px;
    font-size: 16px;
    background-position: center;
    transition: background 0.8s;
}
a:active{
    box-shadow:0 5px 0 #0bf8d8 ;
    top:3px;
}
@media (min-width: 550px)and (max-width: 800px){
    .container{
        grid-template-columns: 450px 450px 450px;
        grid-template-rows: 200px 750px ;
    }
    .gallery{
        position: absolute;
        grid-template-columns: 60% 60%;
        grid-template-rows: 90% 90% ;
        margin-top:27%;
        margin-left: 15%;
        grid-gap: 35px;
    }
    .footer, .navbar{
        width: 650px;
    }
    #img1{
        width: 750px;
        height: 230px;
    }
}
@media (min-width: 800px)and (max-width: 1000px){
    .container{
        grid-template-columns: 490px 490px 490px;
        grid-template-rows: 200px 900px ;
    }
    .gallery{
        position: absolute;
        grid-template-columns: 80% 80%;
        grid-template-rows: 90% 90% ;
        margin-top:35%;
        margin-left: 25%;
        grid-gap: 50px;
    }
    .footer, .navbar{
        width: 900px;
    }
    #img1{
        width: 900px;
        height: 350px;
    }
}
@media (min-width: 1000px)and (max-width: 1200px){
    .container{
        grid-template-columns: 450px 450px 450px;
        grid-template-rows: 200px 1050px;
    }
    .gallery{
        position: absolute;
        grid-template-columns: 85% 85%;
        grid-template-rows: 90% 90% ;
        margin-top:37%;
        margin-left: 25%;
        grid-gap: 60px;
    }
    .footer, .navbar{
        width: 1000px;
    }
    #img1{
        width: 1050px;
        height: 450px;
    }
}
@media (min-width: 1200px)and (max-width: 1400px){
    .container{
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 200px 1100px;
    }
    .gallery{
        position: absolute;
        grid-template-columns: 100% 100%;
        grid-template-rows: 90% 90% ;
        margin-top:32%;
        margin-left: 30%;
        grid-gap: 70px;
    }
    .footer, .navbar{
        width: 1300px;;
    }
    #img1{
        width: 1300px;
        height: 450px;
    }
}

