.heading{

    background-color: aquamarine;
    border-bottom: 1px dashed;
}
.author{
    display: flex;
    justify-content: flex-end;
    justify-content: flex-end;
    background-image: url(../images/header2.jpg);
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: grey ;
}

.p1,.p2{
    font-weight: 500;
    font-size: 20px;
}

span{
    font-style: italic;
    font-weight: bold;
}
.quote{
    font-style: italic;
    font-size: 21px;
}
#head7, #head8, #head9{
    text-decoration: underline;
}